[Unit]
Description=Lumelo Bridge Mode Placeholder Target
Wants=auth-recovery.service
After=auth-recovery.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
