[Unit]
Description=Lumelo Bridge Mode Placeholder Target
Wants=auth-recovery.service controld.service
After=auth-recovery.service controld.service
AllowIsolate=yes
