[Unit]
Description=Lumelo Web Control Service
After=auth-recovery.service sessiond.service network.target
Requires=playbackd.service
ConditionPathExists=/usr/bin/controld

[Service]
Type=simple
Environment=LUMELO_RUNTIME_DIR=/run/lumelo
Environment=CONTROLD_LISTEN_ADDR=0.0.0.0:18080
ExecStart=/usr/bin/controld
Restart=on-failure
RestartSec=2
RuntimeDirectory=lumelo
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
StateDirectory=lumelo
StateDirectoryMode=0755
WorkingDirectory=/var/lib/lumelo

[Install]
WantedBy=local-mode.target
