[Unit]
Description=Lumelo SSH Host Key Generation
ConditionPathExists=/usr/bin/ssh-keygen
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ssh-keygen -A
RemainAfterExit=yes
