[Unit]
Description=Lumelo Removable Media Import for /dev/%I
After=local-fs.target
ConditionPathExists=/usr/bin/lumelo-media-import

[Service]
Type=oneshot
ExecStart=/usr/bin/lumelo-media-import import-device /dev/%I
TimeoutStartSec=120
