[Unit]
Description=Lumelo Media Index Worker
After=local-fs.target
ConditionPathExists=/usr/bin/media-indexd

[Service]
Type=simple
Environment=LUMELO_RUNTIME_DIR=/run/lumelo
ExecStart=/usr/bin/media-indexd
RuntimeDirectory=lumelo
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
StateDirectory=lumelo
StateDirectoryMode=0750
CacheDirectory=lumelo
CacheDirectoryMode=0755
WorkingDirectory=/var/lib/lumelo
